body{
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}

main{
    max-width: 920px;
    margin: 0 auto;
}
section.movies{
    max-width: inherit;
}
div.movie{
    display: flex;
    column-gap: 2rem;
    min-height: 250px;
    margin-bottom: 0.5rem;
}
.image{
   width: 320px;
   height: 190px;   
}
.image img {
    width: inherit;
    height: inherit;
    border-radius: 15px;
    object-fit:fill;
    border: 1px solid #ccc;
}
div.description{
    font-size: 1rem;
}
div.description a{
    text-decoration: none;
}
div.description a:hover{
    text-decoration: underline;
}
div.description a:link,
div.description a:active,
div.description a:visited  { 
    color: #222;
}

div.description span{
   font-size: 1rem;
  font-weight: 100;
}

div.search{
  min-height: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
}
div.search input{
    align-self: center;
    height: 30px;
    margin-left: .7rem;
}
div.search label{
    font-size: 1.3rem;
}