@import url("https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

html {
  font-size: 100%;
}

body {
  background-image: url("../image/fundo.jpg");
  background-attachment: fixed;
  background-size:contain;
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #222;
  box-sizing: border-box;
  margin-top: 5.5rem;
}
div.container {
  max-width: 928px;
  margin: 0 auto;
}
main {
  padding: 0.3rem 1.25rem;
}
.main {
  max-width: 900px;
  min-height: 580px;
  margin: 0 auto;
  padding: 3rem 1rem;
  background-color: #fff;
}
section.movies {
  margin-top: 1rem;
  max-width: inherit;
}
header {
  width: 100%;
  position: fixed;
  height: 5.5rem;
  background-color: rgba(34, 34, 34, 0.953);
  color: #ccc;
  margin-top: -5.5rem;
}
div.header {
  max-width: 930px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
  margin: 0 auto;
}
div.header > h1 {
  font-size: 2.5rem;
  font-family: "Rubik Burned", cursive;
  color: #ccc;
}
.barra-vertical {
  margin-top: -0.69rem;
  border-bottom: 10px #494949 solid;
}

div.movie {
  display: flex;
  column-gap: 2rem;
  min-height: 250px;
  margin-bottom: 0.5rem;
}
.image {
  width: 320px;
  height: 190px;
}
.image img {
  width: inherit;
  height: inherit;
  border-radius: 15px;
  object-fit: fill;
  border: 1px solid #ccc;
}
div.description {
  font-size: 1rem;
}
div.description h2 {
  margin-top: 0.45rem;
}
div.description h4 {
  margin-top: -0.77rem;
}
div.description a {
  text-decoration: none;
}
div.description a:hover {
  text-decoration: underline;
}
div.description a:link,
div.description a:active,
div.description a:visited {
  color: #222;
}

div.description span {
  font-size: 1rem;
  font-weight: 300;
}

div.search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
div.search input {
  align-self: center;
  height: 30px;
  margin-left: 0.7rem;
  outline: none;
}
div.search label {
  font-size: 1.2rem;
}

div.changePages {
  max-width: 350px;
  height: 20px;
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  
}

div.changePages a {
  font-size: 1.1rem;
  display: block;
  color: #222;
  padding: 0.7rem 0.8rem;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.1s;
  box-sizing: border-box;
  border: 2px solid transparent;

}
div.changePages a:hover {
  border: 2px solid #494949;
}
div.pontos {
  width: 38px;
}

#not-found {
  font-size: 1.3rem;
  text-align: center;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 98%;
  }
  div.header {
    padding: 0 0.85rem;
  }
  div.header h1 {
    color: #ccc;
    font-size: 2.3rem;
  }
  div.movie {
    margin-bottom: 2.35rem;
    max-width: 600px;
    flex-direction: column;
  }

  div.description h2 {
    margin-top: 0 0.55rem;
  }
  div.description h4 {
    margin-top: -1rem;
  }
  .image {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 375px) {
  div.header h1 {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 300px) {
  div.header h1 {
    font-size: 1.2rem;
  }
}
