* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'League Spartan', sans-serif;
  color: #fff;
  background-color: #000;
  padding-top: 9rem;
}


div.container-details {
  padding: 4rem 0;
}
div.container-details h1 {
  margin: 3rem 0;
}
div.container-details .movie {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.container-details .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4rem;
  max-width: 50%;
}
div.container-details .details button {
  background: #6654da;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  color: #fff;
  padding: 0.8rem 2rem;
  margin-top: 1rem;
  font-size: 100%;
  transition: all 0.3s;
}
div.container-details .details button:hover {
  background: #5848c2;
}
div.container-details .details span {
  line-height: 130%;
  margin-bottom: 1rem;
  font-size: 110%;
}
div.container-details .details span.release-date {
  opacity: 0.5;
}
div.container-details img {
  width: 300px;
  border-radius: 1rem;
}
header{
  display: flex; 
  justify-content: center;
  background-color:rgba(0, 0, 0, 0.45);
  position: fixed;
  top: 0;
  z-index: 14;
  width: 100%;
}
.header{
  display: flex;
  justify-content: space-between;
  height: 6rem;
  width: 1024px;
  align-items: center;
  padding: 0 2rem;
  
}
input#search{
  height: 1.7rem;
  font-family: inherit;
  padding-left: .5rem;
}